.simple-keyboard {
  max-width: 1000px;
  margin: 0 auto;
}

.simple-keyboard .hg-button {
  max-width: none;
  max-height: 100px;
  min-width: 20px;
  min-height: 60px;
  margin: 0 auto;
}

.simple-keyboard .hg-button-numbers {
  max-width: 80px;
}

.simple-keyboard .hg-button.hg-functionBtn.hg-button-ent {
  max-width: 80px;
}
